* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  background: radial-gradient(circle at top right, #5825c1, #000000);
  color: #f5f5ff;
  min-height: 100vh;
  margin: 0;
  padding-bottom: px; /* 👈 Espacio para que el footer no tape */

}

.linea-suave {
  border: none;
  height: 2px; /* Grosor de la línea */
  background: linear-gradient(to right, #8e44ad, #3498db); /* Degradado lindo */
  margin: 10px 0; /* Separación arriba y abajo */
  opacity: 0.7; /* Un poco de transparencia */
  border-radius: 5px; /* Bordes redondeados */
}

/*Contacto*/
#Contacto form {
  font-size: 0.85rem;
}

#Contacto input,
#Contacto textarea {
  padding: 4px;
  font-size: 0.85rem;
}

#Contacto h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.modal-body {
  display: none;
  color: #8e44ad;
  margin-top: 10px;
  font-size: 20px;
}

.bg-gradient {
  background: linear-gradient(to bottom, #3c1d6e, #581b98);
  color: white;
}

.card {
  transition: transform 0.3s ease;
  border: none;
}

.card-img-top {
  width: 50px;         /* o el tamaño que prefieras */
  height: auto;
  margin: 0 auto;      /* centra horizontalmente la imagen */
  transition: transform 0.3s ease;
}

.card:hover .card-img-top {
  transform: scale(1.1);  /* efecto sutil al pasar el mouse */
}



/*Footer*/

.footer-row {
  display: flex;
  margin: 0;
  width: 100%;
}

.footer-col {
  flex: 1;
  padding: 10px;
  text-align: center;
  margin: 0;
}

footer {
  width: 100%;
  padding: 0.75rem;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-top: 1px solid #8a8a8a;
}
.copy h2 {
  font-size: 1rem; /* tamaño de un texto normal */
  font-weight: 400; /* opcional: peso normal */
  margin: 0; /* sin márgenes extra */
  line-height: 1.2; /* altura de línea normal */
}
footer .list-inline {
  display: flex;
  flex-wrap: nowrap; /* NO permitir que bajen */
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

footer .list-inline-item {
  margin: 0; /* Quitamos márgenes extra */
  font-size: 0.9rem; /* Achicamos un poco el tamaño del texto */
}

footer a.text-light {
  padding: 0 5px; /* Pequeño espacio lateral */
  font-size: 0.9rem; /* Achicar letra de los links */
}

