* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  background: radial-gradient(circle at top right, #5825c1, #000000);
  color: #f5f5ff;
  padding-bottom: 80px;
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem 1rem;
  min-height: 100vh;
}

.container {
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.05);
  padding: 3rem 2rem;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
  text-align: center;
  width: 100%;
}

section {
  padding: 2rem 8rem;
  max-width: 4000px;
  /* margin: 0 auto; si pongo esto se centra*/ 
  color: #f5f5ff;
  font-size: 1rem;
  line-height: 1.6;
  display: block;
  text-align: justify;
}
.botones {
  display: flex;
  justify-content: center; /* opcional: centra los botones */
  gap: 1rem; /* espacio horizontal entre botones */
  flex-wrap: wrap;
   /* permite que se acomoden bien en pantallas chicas */
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #eae6f2;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #e58fff;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ded0eb;
}

.boton {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #9914c1, #e58fff);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.boton:hover {
  transform: scale(1.05);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  justify-content: center; /* Centra el contenido dentro del nav */
  align-items: center;
}

.row {
  display: flex;
  justify-content: center; /* Centra los elementos hijos */
  align-items: center;
  gap: 2rem; /* Espacio entre cada enlace */
}

nav .logo {
  height: 60px;
  width: 90px;
  margin-right: 1rem;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;

  color: #fff;
}

a {
  color: aliceblue;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  white-space: nowrap; /* 👈 esto evita que se divida en 2 líneas */
}
a:hover {
  color: #e58fff;
  border-radius: 8px;
  border: 2px solid #ded0eb;
  padding: 10px 20px;
  transform: scale(1.05);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-top: 1px solid #8a8a8a;
  z-index: 1000;
}

img {
  width: 70%;
  height: auto;
  border-radius: 50%;
  margin-top: 2rem;
}
